<div>
  <!-- Footer

 ================================================== -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="widget">
              <h5>Réservez, Votre prochaines suites</h5>
              <ul class="regular">
                <li><a href="#">A Propos </a></li>
                <li><a href="#">Liste de nos Hôtels</a></li>
                <li><a href="#">Nos Suites</a></li>
                <li><a href="#">Contactez nous</a></li>
              </ul>
            </div>
          </div>
          <div class="span4">
            <div class="widget">
              <h5>Visitez, nos autres pages</h5>
              <div class="flickr-badge">
                <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=9&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=34178660@N03"></script>

              </div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="span4">
            <div class="widget">
              <h5>Comment nous contactez</h5>
              <address>
								<i class="icon-home"></i> <strong>Groupe Hôtelier Hypnos, Inc.</strong><br>
								X104 Awesome ville, Suite<br>
								Rouen, 76000 Normandie
								</address>
              <p>
                <i class="icon-phone"></i> (123) 456-7890 - (123) 555-8890<br>
                <i class="icon-envelope-alt"></i> email@domainname.com
              </p>
            </div>
            <div class="widget">
              <ul class="social">
                <li><a href="#" data-placement="bottom" title="Twitter"><i class="icon-twitter icon-square icon-32"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Facebook"><i class="icon-facebook icon-square icon-32"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="verybottom">
        <div class="container">
          <div class="row">
            <div class="span6">
              <p>
                &copy; hypnos - All right reserved
              </p>
            </div>
            <div class="span6">
              <div class="pull-right">
                <div class="credits">
                  <!--
                    All the links in the footer should remain intact.
                    You can delete the links only if you purchased the pro version.
                    Licensing information: https://bootstrapmade.com/license/
                    Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Lumia
                  -->
                  Created by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>


  <!-- end wrapper -->
  <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-48 active"></i></a>
  <script src="{{asset('assets')}}/js/jquery.js"></script>
  <script src="{{asset('assets')}}/js/raphael-min.js"></script>
  <script src="{{asset('assets')}}/js/jquery.easing.1.3.js"></script>
  <script src="{{asset('assets')}}/js/bootstrap.js"></script>
  <script src="{{asset('assets')}}/js/google-code-prettify/prettify.js"></script>
</div>

