    <section id="intro">

      <div class="container">
        <div class="row">
          <div class="span12">
            <!-- Place somewhere in the <body> of your page -->
            <div id="mainslider" class="flexslider">
              <ul class="slides">
                <li data-thumb="{{asset('assets')}}/img/slides/flexslider/img_1.jpg">
                  <img src="{{asset('assets')}}/img/slides/flexslider/img_1.jpg" alt="coucher_de_soleil" />
                  <div class="flex-caption primary">
                    <h2>Nos lieux</h2>
                    <p>Dans des paysages de rêves, venez vous reposer et profitez de paysages sublimes</p>
                  </div>
                </li>
                <li data-thumb="{{asset('assets')}}/img/slides/flexslider/img_2.jpg">
                  <img src="{{asset('assets')}}/img/slides/flexslider/img_2.jpg" alt="vue_palmier" />
                  <div class="flex-caption warning">
                    <h2>Nos suites</h2>
                    <p>En amoureux, Seul ou en Famille venez découvrir des suites à des prix imbattables</p>
                  </div>
                </li>
                <li data-thumb="{{asset('assets')}}/img/slides/flexslider/img_3.jpg">
                  <img src="{{asset('assets')}}/img/slides/flexslider/img_3.jpg" alt="pont_sur_mer" />
                  <div class="flex-caption success">
                    <h2>Nos options</h2>
                    <p>Lorem ipsum dolor sit amet vix ceteros noluisse intellegat</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section>

